@import 'tailwindcss';

/* Smooth scrolling */
html {
    scroll-behavior: smooth;
}

/* Blue-500 Scrollbar */
* {
    scrollbar-width: thin;
    scrollbar-color: #3b82f6 #dbeafe;
}

*::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

*::-webkit-scrollbar-track {
    background: #dbeafe;
}

*::-webkit-scrollbar-thumb {
    background: #3b82f6;
    border-radius: 999px;
}

*::-webkit-scrollbar-thumb:hover {
    background: #2563eb;
}

*::-webkit-scrollbar-corner {
    background: #dbeafe;
}
