@import "tailwindcss";

canvas {
  touch-action: none;   /* prevents scrolling while drawing */
  -webkit-touch-action: none; /* for old IE */
  -ms-touch-action: none; /* for old IE */
}
.bg-primary {
  background: #121212;
  color: #EAEAEA;
}

.bg-dark {
    background: #0F172A;
    color: #A0A0A0;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}
